//////////////////////////////////
///        THEME COLORS        ///
//////////////////////////////////

$red: #bc002d; // The color of the Japanese flag
$green: #19a974; // The green from the Rust website
$purple: #5e2ca5; // The purple from the Rust website
$yellow: #ffc832; // The yellow from the Rust website
$gray-100: #f8f9fa;

$primary: $red; // Japanese flag color is primary color
$headings-color: $gray-100;

@import "../node_modules/bootstrap/scss/bootstrap";

$warning: $orange; // Make warning orange since red is now primary


.container-1 {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rust-img {
  flex-grow: 1;
  max-width: 65vh;
  max-height: 65vh;
  background-color: white;
  border-radius: 90%;
  padding: 20px;
}

.vbox {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.hbox {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 16px;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

.txt-center {
  text-align: center;
}

svg {
  border: 1px solid #0e0;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1300px) {
  .rust-img {
    max-width: 60vh;
    max-height: 60vh;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1000px) {
  .rust-img {
    max-width: 42vh;
    max-height: 42vh;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 600px) {

  .rust-img {
    max-width: 95vw;
    max-height: 95vw;
  }

  .vbox {
    width: 90vw;
  }
}