{% import "macros.tera.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/styles.css" />
  <link rel="icon" href="{{ config.extra.tokyo_rust_icon }}" />
  <meta charset="utf-8" />
  <title>{{ config.title }}</title>
</head>

<body class="bg-light min-vh-100 d-flex flex-column">
  {% include "navbar.html" %}
  <main class="flex-grow-1">
    <div>{% block content %} {% endblock %}</div>
  </main>
  {% include "footer.html" %}
  <script src="/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>