{% import "macros.tera.html" as macros %}
<footer class="d-flex flex-wrap justify-content-between align-items-center px-3 py-1 my-4 border-top">
  <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-start align-items-center">
    {{ macros::rust_logo(size=3) }}
    <span class="text-muted ms-1">© {{ now() | date(format="%Y") }} Tokyo Rust</span>
  </div>

  <ul class="nav col-12 col-md-4 justify-content-center border-bottom">
    <li class="nav-item">
      <a href="{{ macros::get_url(path='@/commercial-disclosure.md') }}" class="nav-link px-2 text-muted">{{
        config.extra.translations[lang].commercial_disclosure }}</a>
    </li>
    <li class="nav-item">
      <a href="{{  macros::get_url(path='@/code_of_conduct.md') }}" class="nav-link px-2 text-muted">{{
        config.extra.translations[lang].code_of_conduct }}</a>
    </li>
  </ul>

  <ul class="nav col-12 col-md-4 justify-content-end list-unstyled d-flex">
    {% for social in config.extra.socials %}
    {{ macros::social_link(name=social.name, url=social.url, icon=social.icon) }}
    {% endfor %}
  </ul>
</footer>