{% extends "base.html" %}
{% import "macros.tera.html" as macros %}
{% block content %}
<div class="bg-black">
  <div class=" py-5 container column-gap-3">
    <h1 class="text-primary fw-bold p-5 m-0 text-center text-md-start"> {{ section.title }} </h1>
    <div class="row column-gap-2 px-1 px-md-5 g-2">
      <!--div class="col-sm-8 col-lg-9 text-light text-center text-sm-start"-->
      <div class="col text-light text-left my-auto">
        <!-- {{__tera_context}} -->
        {% for paragraph in section.extra.about_us %}
        <p class="fs-4">{{ paragraph }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row column-gap-2 px-1 px-md-5 g-2">
      <div class="col text-center my-auto">
        <a target=”_blank” href="{{ config.extra.events_page_link }}" class="btn btn-primary btn-lg text-light">{{
          section.extra.join_next_event
          }}</a>
      </div>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container py-3 py-sm-5">
    <h3 class="text-dark text-center mb-3">{{ section.extra.cards_header }}</h3>
    <div class="row row-gap-3 align-items-stretch grow">
      {% for card in section.extra.card %}
      {{ macros::landing_card(title=card.title, content=card.content) }}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
