{% macro rust_logo(size) %}
<img style="width:{{ size * 8 }}px;" src="/tokyo-rust-opt.svg" />
{% endmacro rust_logo %}

{% macro landing_card(title, content) %}
<div class="col-md-4 grow d-flex align-items-stretch">
  <div class="card w-100">
    <div class="card-body">
      <h5 class="text-dark">{{ title }}</h5>
      <p>{{ content }}</p>
    </div>
  </div>
</div>
{% endmacro landing_card %}

{% macro get_url(path) -%}
{% set url = get_url(path=path) | replace(from=config.base_url, to="") -%}
{% if url is ending_with(".html") -%}
{{ url }}
{% else -%}
{{ url }}index.html
{% endif -%}
{% endmacro get_url -%}
