{% import "macros.tera.html" as macros %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        {{ macros::rust_logo(size=5) }}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/
                    {%- if config.default_language != lang -%}
                        {{ lang }}
                    {%- endif -%}">{{config.extra.translations[lang].home}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ macros::get_url(path='@/sponsors.md') }}">{{config.extra.translations[lang].sponsors}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ config.extra.donate_link }}">{{config.extra.translations[lang].donate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="{{ config.extra.events_page_link }}">{{config.extra.translations[lang].events}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>